<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <!-- <link rel="stylesheet" type="text/css" href="https://www.rebfund.com/css/default.css" /> -->
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('index') }}" class="navbar-brand">Home</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2018</p>
            </footer>
        </div>
    </body>
</html>